@import url('https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.container {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template:
    'f f f f' auto
    'd d d d'
    'c div mul sub' 50px
    'q w e add' 50px
    'r t y add' 50px
    'u i o eq' 50px
    'p p dec eq' 50px;
  grid-template-columns: repeat(4, 60px);
  grid-gap: 1px;
}

.formula {
  padding: 5px;
  grid-area: f;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.display {
  width: 100%;
  /*   height: 50px; */
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset;
  grid-area: d;
  font-family: 'Lexend Exa', sans-serif;
  font-size: 34px;
  line-height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.button {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-family: 'Lexend Exa', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#zero {
  grid-area: p;
}
#one {
  grid-area: u;
}
#two {
  grid-area: i;
}
#three {
  grid-area: o;
}
#four {
  grid-area: r;
}
#five {
  grid-area: t;
}
#six {
  grid-area: y;
}
#seven {
  grid-area: q;
}
#eight {
  grid-area: w;
}
#nine {
  grid-area: e;
}

#clear {
  grid-area: c;
}
#decimal {
  grid-area: dec;
}

#divide {
  grid-area: div;
}
#multiply {
  grid-area: mul;
}
#subtract {
  grid-area: sub;
}
#add {
  grid-area: add;
}

#equals {
  grid-area: eq;
}
